<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-facilis.ZPM">
    <Module>
      <Name>dc-facilis</Name>
      <Version>0.0.1</Version>
      <Description>Facilis – Effortless API Interoperability with AI</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.facilis.PKG"/>
    </Module>
  </Document>
</Export>
